NODE_ENV=development
NEXT_PUBLIC_MONGODB_URI=
NEXT_PUBLIC_PORT=8000
NEXT_PUBLIC_JWT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_BACKEND_API_ENDPOINT=http://localhost:8000/api/v1
NEXT_PUBLIC_FRONTEND_API_ENDPOINT=http://localhost:3000
NEXT_PUBLIC_GITHUB_ID=
NEXT_PUBLIC_GITHUB_SECRET=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_NEXTAUTH_SECRET=
NEXT_PUBLIC_TINYMCE_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
# Supabase variables for Vercel (without NEXT_PUBLIC_ prefix)
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_DEFAULT_IMAGE=